.map-controls {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  right: 0;
  background-color: rgba(#4d4d4d, 0.25);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  
  .map-control {
    width: 30px;
    height: 30px;

    .zoom-control {
      display: inline-block;

      &:hover {
        cursor: pointer;
      }

      img {
        transform: scale(0.75);
      }
    }
  }
}
