<div class="map" id="map" (resized)="onResized($event)"></div>
<div class="map-controls">
  <div class="map-control zoom-in">
    <a class="zoom-control" (click)="zoomIn()">
      <img src="./assets/zoom-in.svg" alt="Zoom in">
    </a>
  </div>
  <div class="map-control zoom-default">
    <a class="zoom-control" (click)="zoomDefault()">
      <img src="./assets/zoom-default.svg" alt="Zoom default">
    </a>
  </div>
  <div class="map-control zoom-out">
    <a class="zoom-control" (click)="zoomOut()">
      <img src="./assets/zoom-out.svg" alt="Zoom out">
    </a>
  </div>
</div>