<!-- <router-outlet></router-outlet> -->

<div id="navbar">
  <div class="navbar-brand">
    <a href="#" (click)="openIntroModal($event)">
      <img src="./assets/ER-logo-dark.png" alt="Logo E-Review">
      Cartografia amministrativa della Repubblica Sociale Italiana
    </a>
  </div>
  <div class="navbar-items" [class.show]="isMobilePeriodsMenuVisible">
    <div class="navbar-item" *ngFor="let period of periods | async;">
      <a [class.active]="period.id == currentPeriodID" href="#" (click)="setCurrentPeriod($event, period)">{{period.name}}</a>
    </div>
  </div>
  <div class="navbar-hamburger" (click)="toggleMobilePeriodsMenu()"></div>
</div>

<div 
  id="mapContainer" 
  [class.is-three-quarters-left]="isLeftSidebarOpen && !isRightSidebarOpen" 
  [class.is-three-quarters-right]="isRightSidebarOpen && !isLeftSidebarOpen" 
  [class.is-half]="isLeftSidebarOpen && isRightSidebarOpen"
>
  <app-map (markerClicked)="onMarkerClick($event)" (mapLoaded)="onMapLoaded()"></app-map>
</div>

<div id="leftSidebar" class="sidebar" [class.open]="isLeftSidebarOpen">
  <div class="sidebar-inner">
    <div class="sidebar-scroller">
      <div class="sidebar-title">
        <select name="mapSelect" id="mapSelect" [ngModel]="currentMapID" (ngModelChange)="onMapSelect($event)">
          <option *ngFor="let map of maps | async;" [value]="map.id">{{map.name}}</option>
        </select>
      </div>

      <ul id="layersInfoList" *ngIf="currentMap">
        <ng-container *ngFor="let layer of layers | async; let i = index;">
          <li 
            class="layer-info-list-item" 
            *ngIf="
              currentMap.layers[layer.id] && 
              currentMap.layers[layer.id].enabled && 
              layer.geometries[currentPeriodID] && 
              layer.geometries[currentPeriodID]['0']['2']
            "
          >
            <h3>
              <a href="#" (click)="onLayerClick($event, layer.id)">
                <ng-container [ngSwitch]="layer.properties[currentPeriodID].type">
                  <span 
                    *ngSwitchCase="'LINES'" 
                    class="layer-bullet layer-bullet-line" 
                    [class.switched-off]="!layerSwitches[layer.id].visible"
                    [class.striped]="layer.properties[currentPeriodID].hasDashedStroke" 
                    [ngStyle]="{'background-color': layer.properties[currentPeriodID].strokeColor}"
                  ></span>

                  <span 
                    *ngSwitchCase="'AREAS'" 
                    class="layer-bullet layer-bullet-area" 
                    [class.switched-off]="!layerSwitches[layer.id].visible"
                    [ngStyle]="{'background-color': layer.properties[currentPeriodID].fillColor}"
                  ></span>
                </ng-container>

                <span class="category-text" [class.switched-off]="!layerSwitches[layer.id].visible">
                  {{layer.name}}
                </span>

                <label class="switch">
                  <input type="checkbox" [checked]="layerSwitches[layer.id].visible">
                  <ng-container [ngSwitch]="layer.properties[currentPeriodID].type">
                    <span 
                      *ngSwitchCase="'LINES'" 
                      class="slider" 
                      [class.on]="layerSwitches[layer.id].visible" 
                      [ngStyle]="{'background-color': layer.properties[currentPeriodID].strokeColor}"
                    ></span>

                    <span 
                      *ngSwitchCase="'AREAS'" 
                      class="slider" 
                      [class.on]="layerSwitches[layer.id].visible" 
                      [ngStyle]="{'background-color': layer.properties[currentPeriodID].fillColor}"
                    ></span>
                  </ng-container>
                </label>
              </a>
            </h3>
          </li>
        </ng-container>
      </ul>

      <ul id="categoriesInfoList" *ngIf="currentMap">
        <li class="category-info-list-item category-info-list-toggle-all" *ngIf="showAllCategoriesSwitch">
          <h3>
            <a href="#" (click)="switchAllCategories($event)">                
                <span class="category-text" [class.switched-off]="!allCategoriesOn">Accendi/spegni tutti</span>

                <label class="switch">
                  <input type="checkbox" [checked]="true">
                  <span 
                    class="slider" 
                    [class.on]="allCategoriesOn" 
                    [ngStyle]="{'background-color': '#3d3d3d'}"
                  ></span>
                </label>
            </a>
          </h3>
        </li>

        <ng-container *ngFor="let cat of categories | async; let i = index;">
        <!-- <ng-container *ngFor="let cat of data.originalCategories; let i = index;"> -->
          <li 
            class="category-info-list-item" 
            *ngIf="currentMap.categories[cat.id] && currentMap.categories[cat.id].enabled"
          >
            <h3>
              <a href="#" (click)="onCategorySelect($event, cat.id)">
                <ng-container [ngSwitch]="cat.slug">
                    <span 
                      *ngSwitchCase="'tribunale-militare-straordinario-di-guerra'"
                      class="category-bullet bullet-icon" 
                      [class.switched-off]="!categorySwitches[cat.id].visible" 
                      [innerHTML]="sanitizer.bypassSecurityTrustHtml( symbolsService.getSymbol('star', cat.color) )"
                    ></span>

                    <span 
                      *ngSwitchCase="'tribunale-speciale-per-la-difesa-dello-stato'"
                      class="category-bullet bullet-icon" 
                      [class.switched-off]="!categorySwitches[cat.id].visible" 
                      [innerHTML]="sanitizer.bypassSecurityTrustHtml( symbolsService.getSymbol('star', cat.color) )"
                    ></span>

                    <span 
                      *ngSwitchCase="'tribunale-speciale-straordinario'"
                      class="category-bullet bullet-icon" 
                      [class.switched-off]="!categorySwitches[cat.id].visible" 
                      [innerHTML]="sanitizer.bypassSecurityTrustHtml( symbolsService.getSymbol('star', cat.color) )"
                    ></span>

                    <span 
                      *ngSwitchCase="'sezione-tribunale-speciale-per-la-difesa-dello-stato'"
                      class="category-bullet bullet-icon" 
                      [class.switched-off]="!categorySwitches[cat.id].visible" 
                      [innerHTML]="sanitizer.bypassSecurityTrustHtml( symbolsService.getSymbol('star', cat.color) )"
                    ></span>

                    <span 
                      *ngSwitchDefault
                      class="category-bullet" 
                      [class.switched-off]="!categorySwitches[cat.id].visible"
                      [ngStyle]="{'background-color': cat.color}"
                    ></span>
                </ng-container>

                <span 
                  *ngIf="cat.description" 
                  class="info" 
                  (mouseenter)="cat.showDescription = true;" 
                  (mouseleave)="cat.showDescription = false;"
                >
                  i
                  <div 
                    *ngIf="cat.showDescription" 
                    class="category-description-popup" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml( cat.description )"
                  ></div>
                </span>

                <span class="category-text" [class.switched-off]="!categorySwitches[cat.id].visible">
                  {{ cat.labels && cat.labels[currentPeriodID] != '' ? cat.labels[currentPeriodID] : cat.name }}
                </span>

                <label class="switch">
                  <input type="checkbox" [checked]="categorySwitches[cat.id].visible">
                  <span 
                    class="slider" 
                    [class.on]="categorySwitches[cat.id].visible" 
                    [ngStyle]="{'background-color': cat.color}"
                  ></span>
                </label>

                <ng-template #iconBullet>
                  <span 
                    class="category-bullet bullet-icon" 
                    [class.switched-off]="!categorySwitches[cat.id].visible" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml( symbolsService.getSymbol('star', cat.color) )"
                  ></span>
                </ng-template>
              </a>
            </h3>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="sidebar-logo">
    <img src="./assets/logo-atlantis.svg" alt="Studio Atlantis - logo">
  </div>

  <div class="sidebar-toggler">
    <a href="#" (click)="toggleSidebar($event, 'left')" alt="Apri/chiudi sidebar di sinistra">
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div></a>
  </div>
</div>

<div id="rightSidebar" class="sidebar" [class.open]="isRightSidebarOpen">
  <div class="sidebar-inner" *ngIf="currentCity">
    <div class="sidebar-scroller">
      <h1 class="sidebar-title">
        {{currentCity.name}}
      </h1>

      <small class="sidebar-period-span">
        {{data.periods[currentPeriodID].startDate | date:'dd MMM yyyy'}} - {{data.periods[currentPeriodID].endDate | date:'dd MMM yyyy'}}
      </small>

      <ul id="cityInfoList" *ngIf="currentPeriod && currentPeriod.length > 0; else noPeriodData">
        <ng-container *ngFor="let cat of currentPeriod">
          <li class="city-info-list-item" *ngIf="categorySwitches[cat.data.id].visible">
            <h3 [ngStyle]="{'background-color': cat.data.color}">
              <a [class.open]="cat.isSummaryOpen" href="#" (click)="toggleListItem($event, cat)">
                <!-- <span class="badge" [ngStyle]="{'color': cat.data.color}" *ngIf="cat.quantity > 0">{{cat.quantity}}</span> -->
                <!-- <span 
                  *ngIf="cat.data.description" 
                  class="info" 
                  (mouseenter)="cat.data.showDescription = true;" 
                  (mouseleave)="cat.data.showDescription = false;"
                >
                  i
                  <div 
                    *ngIf="cat.data.showDescription" 
                    class="category-description-popup" 
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml( cat.data.description )"
                  ></div>
                </span> -->
                {{cat.data.labels && cat.data.labels[currentPeriodID] ? cat.data.labels[currentPeriodID] : cat.data.name}}
              </a>
            </h3>
            
            <div class="city-info-list-item-content">
              <div class="content-block summary" [class.open]="cat.isSummaryOpen">
                <div [innerHTML]="sanitizer.bypassSecurityTrustHtml( cat.summary )"></div>

                <a 
                  [class.open]="cat.isDescriptionOpen" 
                  *ngIf="cat.description && cat.description != ''" 
                  href="#" 
                  (click)="toggleListItemDescription($event, cat)"
                >Scheda biografica</a>
              </div>
              <div 
                class="content-block description" 
                *ngIf="cat.description" 
                [class.open]="cat.isDescriptionOpen" 
                [innerHTML]="sanitizer.bypassSecurityTrustHtml( cat.description )"
              ></div>
            </div>
          </li>
        </ng-container>
      </ul>

      <ng-template #noPeriodData>
        <p class="no-period-data">Nessun dato per il periodo selezionato.</p>
      </ng-template>
    </div>
  </div>

  <div [class.disabled]="!canOpenRightSidebar" class="sidebar-toggler">
    <a href="#" (click)="toggleSidebar($event, 'right')" alt="Apri/chiudi sidebar di destra">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </div>
</div>

<div class="modal" id="introModal" [class.open]="isIntroModalOpen">
  <div class="modal-overlay"(click)="closeIntroModal()"></div>
  <div class="modal-content">
    <h1>Cartografia amministrativa della Repubblica Sociale Italiana</h1>
    <div class="modal-content-inner">
      <h3>Istruzioni per l'uso</h3>
      <p>
        La rappresentazione cartografica dell’amministrazione della Repubblica sociale italiana si compone di due diverse carte: 
        la prima dedicata alle strutture periferiche civili e militari, in cui si organizza la gestione fascista del territorio a livello locale; 
        la seconda dedicata invece alle strutture dell’amministrazione centrale, trasferite da Roma a seguito della creazione della Rsi.
      </p>
      <p>
        L’interfaccia presenta quattro elementi per organizzare e rappresentare i contenuti delle due carte: 
        un’intestazione, due barre laterali e, al centro, la mappa vera e propria. Quest’ultima si può leggere utilizzando gli strumenti consueti 
        (zoom e clic sui punti di interesse). Nell’intestazione, a fianco del titolo generale del progetto, sono identificati quattro periodi temporali significativi 
        per la storia della Rsi, in cui è organizzata l’informazione. Cliccando su ognuno di essi si accede allo stato di fatto dei dati presentati 
        durante la scansione temporale considerata. Per le strutture che non sono presenti in un dato luogo per l’intero periodo sono indicate le date di trasferimento. 
        Nella barra laterale di sinistra si trovano: in alto un menù a tendina in cui scegliere tra le due mappe disponibili, 
        e sotto la legenda principale dei temi rappresentati in ciascuna di esse. Le voci sono spuntabili, 
        per consentire una lettura selettiva delle informazioni in base alle esigenze dell’utente.
      </p>
      <p>
        Nella carta dedicata all’amministrazione centrale – area non esistente di fatto durante la Rsi, ma da noi individuata per identificare graficamente 
        la macroregione in cui si colloca la maggior parte degli uffici centrali – sono rappresentati per simbologie i contenuti raggruppati per città. 
        Cliccando su ognuna di esse si accede alla barra laterale destra, chiusa all’apertura del sito, dove si possono leggere informazioni più approfondite 
        sugli uffici presenti.
      </p>
      <p>
        Per la carta delle strutture amministrative periferiche civili e militari sono da evidenziare due discontinuità dei dati presentati: 
        Tribunali militari straordinari di guerra, Sezioni del Tribunale speciale per la difesa dello Stato e Tribunale speciale straordinario, data la natura temporanea 
        e la fisionomia ad hoc di tali organismi, sono stati inseriti solo come esemplificazioni specifiche, localmente e temporalmente contestualizzate; 
        per quanto riguarda i Comandi militari si segnala invece la definizione a livello provinciale solo per l’Italia del Nord, in quanto la documentazione posseduta 
        non ha consentito di stabilire in dettaglio tale articolazione per i territori posti al di sotto della linea Gotica.
      </p>
      <p>
        Infine, le Corti d’Appello restano presenti anche dopo l’arretramento della linea di difesa tedesca e la perdita dei territori da parte della Rsi 
        in quanto strutture mantenute dallo Stato democratico postbellico in cui si evidenzia una peculiare continuità di uomini.
      </p>
      <br>
      <h3>Fonti bibliografiche principali</h3>
      <ul>
        <li>M. Borghi 2001, <em>Tra fascio littorio e senso dello Stato. Funzionari, apparati, ministeri nella Repubblica sociale italiana 1943-1945</em>, Padova: CLEUP</li>
        <li>M. Missori 1978, <em>Governi, alte cariche dello Stato e prefetti del Regno d’Italia</em>, Roma: Bulzoni</li>
        <li>M. Missori 1986, <em>Gerarchie e statuti del PNF. Gran Consiglio, Direttorio nazionale, Federazioni provinciali: quadri e biografie</em>, Roma: Bonacci/li>
      </ul>
      <br>
      <h3>Credits</h3>
      <ul>
        <li>Progettazione grafica: Studio Atlantis (Nieves López Izquierdo e Federico Labanti).</li>
        <li>Sviluppo piattaforma interattiva: Studio Atlantis (Gianluca Macaluso).</li>
        <li>Progettazione e realizzazione contenuti: Roberta Mira e Toni Rovatti.</li>
      </ul>
    </div>
    <div class="modal-close" (click)="closeIntroModal()">X</div>
  </div>
</div>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>
