$grey: #4d4d4d;
$white: #ffffff;
$sidebarToggleSize: 30px;

#navbar {
  position: fixed;
  background-color: $white;
  width: 96vw;
  padding: 0 2vw;
  height: 60px;
  display: flex;
  z-index: 1000;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;

  .navbar-brand {
    width: 20%;
    padding-right: 5%;
    display: flex;
    align-items: center;

    a {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    img {
      max-height: 30px;
      height: 100%;
      margin-right: 15px;
    }
  }

  .navbar-items {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-item {
      a {
        color: $grey;
        text-decoration: none;
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 22px 5px 22px 5px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: rgba($grey, 0.5);
          opacity: 0;
          -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
          -moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s ease-out;
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }

        &::before {
          display: none;
          top: 0;
          -webkit-transform: translateY(-10px);
          -moz-transform: translateY(-10px);
          transform: translateY(-10px);
        }

        &::after {
          bottom: 0;
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          transform: translateY(10px);
        }

        &:hover {
          &::before,
          &::after {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
          }
        }

        &.active {
          &::before,
          &::after {
            opacity: 1;
            background-color: rgba($grey, 0.85);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
          }
        }
      }
    }
  }
}

#mapContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.is-three-quarters-left {
    width: 75vw;
    left: 25vw;
  }

  &.is-three-quarters-right {
    width: 75vw;
    left: 0;
  }

  &.is-half {
    width: 50vw;
    left: 25vw;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  width: 25vw;
  height: 100vh;
  z-index: 500;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
  transition: left .2s ease-in, right .2s ease-in;

  &#rightSidebar {
    right: -25vw;
    background-color: rgba( $white, 0.9 );

    #cityInfoList {
      padding: 0;
      list-style-type: none;

      .city-info-list-item {
        margin-bottom: 0;
        border-bottom: 1px solid $white;

        h3 {
          margin: 0;
          padding: 7px 2vw 7px 2vw;
          
          a {
            text-decoration: none;
            color: $white;
            font-size: 0.85rem;
            font-weight: bold;
            display: inline-block;
            position: relative;
            padding-right: 10%;
            width: 90%;

            .badge {
              background-color: $white;
              padding: 1px 10px;
              border-radius: 15px;
              font-size: 0.7rem;
              font-weight: bold;
              position: relative;
              display: inline-block;
              top: -1px;
              margin-right: 3px;
            }

            &:after {
              content: ' ';
              height: 0;
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -2px;
              width: 0;
              border: 5px solid transparent;
              border-top-color: $white;
            }

            &.open {
              &:after {
                border-top-color: transparent;
                border-bottom-color: $white;
                margin-top: -8px;
              }
            }
          }
        }

        .city-info-list-item-content {
          padding: 0 2vw;

          .content-block  {
            margin: 0;
            height: 0;
            overflow: hidden;
            // transition: transform .3s ease-out, scale .3s ease-out;

            &.summary {
              a {
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
                position: relative;
                padding-right: 7.5%;
                width: 92.5%;
                text-align: right;
                margin-top: 15px;

                &:after {
                  content: ' ';
                  height: 0;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  margin-top: -2px;
                  width: 0;
                  border: 5px solid transparent;
                  border-top-color: $grey;
                }
    
                &.open {
                  &:after {
                    border-top-color: transparent;
                    border-bottom-color: $grey;
                    margin-top: -8px;
                  }
                }
              }
            }

            &.description {
              background-color: rgba($grey, 0.05);
              padding: 0 15px;
              border-radius: 4px;
            }

            &.open {
              height: auto;
              padding-bottom: 15px;
              margin: 1rem 0 2rem 0;
            }

            ul {
              padding: 20px;
              list-style-type: disc;
            }
          }
        }
      }
    }

    .sidebar-toggler {
      left: -$sidebarToggleSize;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.open {
      right: 0;

      .sidebar-toggler {
        left: -$sidebarToggleSize/2;
        border-radius: 50%;
      }
    }
  }

  &#leftSidebar {
    left: -25vw;
    background-color: rgba( $white, 0.75 );

    #mapSelect {
      width: 100%;
      height: 30px;
      margin-top: 3px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      border-color: rgba( $grey, 0.25 );
      background-color: rgba( $white, 0.75 );
    }

    #categoriesInfoList,
    #layersInfoList {
      padding: 0;
      list-style-type: none;
      margin-top: 30px;
      
      .category-info-list-item,
      .layer-info-list-item {
        margin-bottom: 0;

        &.category-info-list-toggle-all {
          border-bottom: 1px dotted rgba($grey, 0.5);
          margin-bottom: 15px;

          h3 {
            a {
              height: 30px;
            }
          }
        }

        h3 {
          margin: 0;
          padding: 5px 2vw 7px 2vw;
          
          a {
            text-decoration: none;
            color: $grey;
            font-size: 0.85rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            position: relative;

            .layer-bullet {
              display: inline-block;
              width: 30px;
              min-width: 30px;
              border-radius: 2px;
              margin-right: 15px;

              &.layer-bullet-line {
                height: 7px;
  
                &.striped {
                  background-image: linear-gradient(
                    90deg, 
                    rgba($white, 0) 25%, 
                    rgba($white, 1) 25%, 
                    rgba($white, 1) 50%, 
                    rgba($white, 0) 50%, 
                    rgba($white, 0) 75%, 
                    rgba($white, 1) 75%, 
                    rgba($white, 1) 100%
                  );
                  background-size: 24px 10px;
                }
              }

              &.layer-bullet-area {
                height: 30px;
              }

              &.switched-off {
                opacity: 0.25;
              }
            }

            .category-bullet {
              display: inline-block;
              width: 30px;
              height: 30px;
              min-width: 30px;
              min-height: 30px;
              border-radius: 50%;
              margin-right: 15px;

              &.switched-off {
                opacity: 0.25;
              }
            }

            .info {
              position: relative;
              border: 1px solid #4d4d4d;
              color: #4d4d4d;
              border-radius: 50%;
              width: 15px;
              min-width: 15px;
              height: 15px;
              margin-right: 5px;
              display: inline-flex;
              align-items: center;
              justify-content: center;

              .category-description-popup {
                position: absolute;
                width: 150px;
                top: 7px;
                left: 7px;
                padding: 15px;
                border-radius: 0 4px 4px 4px;
                background-color: rgba($grey, 0.75);
                color: $white;
                font-weight: 400;
                z-index: 10;
              }
            }

            .layer-text,
            .category-text {
              margin-right: 15px;

              &.switched-off {
                opacity: 0.25;
              }
            }

            .switch {
              position: relative;
              display: inline-block;
              width: 30px;
              min-width: 30px;
              height: 17px;
              margin-left: auto;

              input {
                opacity: 0;
                width: 0;
                height: 0;

                &:focus {
                  + .slider {
                    box-shadow: 0 0 1px $grey;
                  }
                }
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;

                &.on {
                  background-color: $grey;

                  &::before {
                    -webkit-transform: translateX(13px);
                    -ms-transform: translateX(13px);
                    transform: translateX(13px);
                  }
                }

                &::before {
                  position: absolute;
                  content: "";
                  height: 13px;
                  width: 13px;
                  left: 2px;
                  bottom: 2px;
                  background-color: $white;
                  -webkit-transition: .4s;
                  transition: .4s;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }

    .sidebar-toggler {
      right: -$sidebarToggleSize;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.open {
      left: 0;

      .sidebar-toggler {
        right: -$sidebarToggleSize/2;
        border-radius: 50%;
      }
    }
  }

  .sidebar-inner {
    // padding: 2vh 0;
    padding-top: 2vh;
    height: 90vh;
    overflow: hidden;
    overflow-y: auto;
  
    .sidebar-scroller {
      .sidebar-title {
        padding: 0 2vw;
        margin-top: 60px;
        margin-bottom: 5px;
      }

      .sidebar-period-span {
        display: inline-block;
        position: relative;
        max-width: 100%;
        padding: 0 2vw;
        margin-bottom: 30px;
      }

      .no-period-data {
        padding: 0 2vw;
      }
    }
  }

  .sidebar-logo {
    padding: 2vh;
    height: 4vh;
    display: flex;
    align-items: center;

    img {
      height: 4vh;
    }
  }

  .sidebar-toggler {
    position: absolute;
    top: 75px;
    margin-top: 7px;
    width: $sidebarToggleSize;
    height: $sidebarToggleSize;
    background-color: $grey;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
    transition: left .3s ease-in-out, right .3s ease-in-out, border-radius .5s ease-in-out;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;

      .hamburger {
        width: 15px;
        height: 10px;
        position: relative;
        margin: 0;
        transform: rotate(0deg);
        transition: .5s ease-in-out;

        span {
          display: block;
          position: absolute;
          height: 1px;
          width: 100%;
          background: $white;
          border-radius: 3px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .5s ease-in-out;

          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2) {
            top: 5px;
          }

          &:nth-child(3) {
            top: 10px;
          }
        }
      }
    }

    &.disabled {
      opacity: 0.25;

      a {
        pointer-events: none;
      }
    }
  }

  &.open {
    .sidebar-toggler {
      a {
        .hamburger {
          span {
            &:nth-child(1) {
              top: 5px;
              transform: rotate(135deg);
            }
  
            &:nth-child(2) {
              opacity: 0;
              left: -20px;
            }
  
            &:nth-child(3) {
              top: 5px;
              transform: rotate(-135deg);
            }
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease;
  transform: scale(0);

  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
  }

  .modal-content {
    position: relative;
    width: 60%;
    height: 60%;
    background-color: $white;
    padding: 15px 30px;
    border-radius: 4px;
    z-index: 1;
    transition: transform .7s ease;
    transform: scale(0);

    .modal-content-inner {
      position: absolute;
      overflow: hidden;
      overflow-y: auto;
      width: 92%;
      height: 82%;
      padding-right: 2%;
      transform: scale(0);
    }

    .modal-close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -12px;
      right: -12px;
      background-color: $grey;
      color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
      font-weight: bold;
      cursor: pointer;
      transition: transform .3s ease, color .3s ease, background-color .5s ease;

      &:hover {
        background-color: $white;
        color: $grey;
        transform: scale(1.25);
      }
    }
  }

  &.open {
    transform: scale(1);

    .modal-content {
      transform: scale(1);

      .modal-content-inner {
        transform: scale(1);
      }
    }
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #navbar {
    .navbar-brand {
      a {
        font-size: 8px;
      }
    }
  }

  .modal {
    .modal-content {
      .modal-content-inner {
        width: 90%;
        height: 76%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .sidebar {
    width: 45vw;

    &#rightSidebar {
      right: -45vw;
      background-color: $white;
    }

    &#leftSidebar {
      left: -45vw;
      background-color: $white;
    }

    .sidebar-inner {
      .sidebar-scroller {
        .sidebar-title {
          padding: 0 5vw;
        }
  
        .sidebar-period-span {
          padding: 0 5vw;
        }
  
        .no-period-data {
          padding: 0 5vw;
        }
      }
    }
  }

  .modal {
    .modal-content {
      .modal-content-inner {
        width: 88%;
        height: 76%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #navbar {
    padding: 0 5vw;
    width: 90vw;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      width: 50%;
  
      a {
        font-weight: bold;
        font-size: 10px;
      }
  
      img {
        max-height: 30px;
        height: 100%;
        margin-right: 15px;
      }
    }
  
    .navbar-items {
      width: 210px;
      position: absolute;
      top: 60px;
      right: 5vw;
      display: none;
      background-color: $white;
      box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
  
      .navbar-item {
        a {
          width: 100%;
          padding: 15px 0;
        }
      }

      &.show {
        display: block;
      }
    }

    .navbar-hamburger {
      width: 30px;
      height: 30px;
      background-image: url(~src/assets/hamburger.svg);
    }
  }

  .sidebar {
    width: 75vw;

    &#rightSidebar {
      right: -75vw;
      background-color: $white;
    }

    &#leftSidebar {
      left: -75vw;
      background-color: $white;
    }

    .sidebar-inner {
      .sidebar-scroller {
        .sidebar-title {
          padding: 0 5vw;
        }
  
        .sidebar-period-span {
          padding: 0 5vw;
        }
  
        .no-period-data {
          padding: 0 5vw;
        }
      }
    }
  }

  .modal {
    .modal-content {
      .modal-content-inner {
        width: 78%;
        height: 48%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
  .sidebar {
    width: 45vw;

    &#rightSidebar {
      right: -45vw;
      background-color: $white;
    }

    &#leftSidebar {
      left: -45vw;
      background-color: $white;
    }

    .sidebar-inner {
      .sidebar-scroller {
        .sidebar-title {
          padding: 0 5vw;
        }
  
        .sidebar-period-span {
          padding: 0 5vw;
        }
  
        .no-period-data {
          padding: 0 5vw;
        }
      }
    }
  }

  .modal {
    .modal-content {
      h1 {
        font-size: 18px;
      }

      .modal-content-inner {
        width: 86%!important;
        height: 52%!important;
      }
    }
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  #navbar {
    .navbar-brand {
      a {
        font-size: 8px;
      }
    }
  }

  .sidebar {
    width: 45vw;

    &#rightSidebar {
      right: -45vw;
      background-color: $white;
    }

    &#leftSidebar {
      left: -45vw;
      background-color: $white;
    }

    .sidebar-inner {
      .sidebar-scroller {
        .sidebar-title {
          padding: 0 5vw;
        }
  
        .sidebar-period-span {
          padding: 0 5vw;
        }
  
        .no-period-data {
          padding: 0 5vw;
        }
      }
    }
  }
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
  #navbar {
    .navbar-brand {
      a {
        font-size: 8px;
      }
    }
  }

  .sidebar {
    width: 45vw;

    &#rightSidebar {
      right: -45vw;
      background-color: $white;
    }

    &#leftSidebar {
      left: -45vw;
      background-color: $white;
    }

    .sidebar-inner {
      .sidebar-scroller {
        .sidebar-title {
          padding: 0 5vw;
        }
  
        .sidebar-period-span {
          padding: 0 5vw;
        }
  
        .no-period-data {
          padding: 0 5vw;
        }
      }
    }
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : portrait) {
  .modal {
    .modal-content {
      .modal-content-inner {
        width: 78%;
        height: 62%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape) {
  #navbar {
    .navbar-brand {
      a {
        font-size: 8px;
      }
    }
  }

  .sidebar {
    width: 45vw;

    &#rightSidebar {
      right: -45vw;
      background-color: $white;
    }

    &#leftSidebar {
      left: -45vw;
      background-color: $white;
    }

    .sidebar-inner {
      .sidebar-scroller {
        .sidebar-title {
          padding: 0 5vw;
        }
  
        .sidebar-period-span {
          padding: 0 5vw;
        }
  
        .no-period-data {
          padding: 0 5vw;
        }
      }
    }
  }

  .modal {
    .modal-content {
      .modal-content-inner {
        width: 90%;
        height: 50%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  .modal {
    .modal-content {
      .modal-content-inner {
        width: 78%;
        height: 56%;
      }
    }
  }
}