@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  font-size: 0.8rem;
}

h5, h6 {
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: rgba(#4d4d4d, 0.85);
  border-bottom: 1px solid rgba(#4d4d4d, 0.25);
}

ul {
  padding-left: 16px;

  li {
    margin-bottom: 5px;
  }
}

a {
  text-decoration: none;
  color: #4d4d4d;

  &:visited {
    color: #4d4d4d;
  }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  z-index: 1000;
}

.marker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;

  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
}

.marker {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;

  &.in {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  &.sub-marker {
    transform: scale(1);
    -webkit-transform: scale(1);
    position: absolute;
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    pointer-events: none;

    &.hidden {
      transform: scale(0)!important;
      -webkit-transform: scale(0)!important;
    }

    &.filtered-out {
      opacity: 0.25;
    }
  }

  &.marker-group {
    &.shrink {
      transform: scale(0);
    }
  }
}